.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.Student {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.Student h2 {
  width: 100%;
  background-color: lightgray;
}

.Student table thead, .Student table th {
  background-color: lightgrey;
}
